* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
*::-moz-selection {
  background-color: #fab700;
  color: #fff;
}
*::selection {
  background-color: #fab700;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 30px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap;
  gap: 10px;
  transition: all 0.5s ease;
}
header .top .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .top .icons i {
  font-size: 12px;
  color: white;
}
header .top .login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .top .login a {
  font-size: 12px;
  color: white;
}
header .top .login a:hover {
  color: #fab700;
  transition: all 0.5s ease;
}
header .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.5s ease;
}
header .bottom ul {
  display: flex;
  gap: 30px;
}
header .bottom ul a {
  font-size: 12px;
  color: white;
}
header .bottom ul li a:hover {
  color: #fab700;
}
header .bottom .bi-list {
  display: none;
  font-size: 30px;
  color: white;
}
header img {
  padding-right: 180px;
}

#banner {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image/header-bg.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0px;
  color: white;
}
#banner .banner-center {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
#banner .banner-center h1 {
  font-size: 50px;
  font-weight: 800;
}
#banner .banner-center p {
  width: 70%;
}
#banner .banner-center button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #fab700;
  color: white;
  padding: 15px 40px;
  font-weight: 700;
}
#banner .banner-center button:hover {
  color: #fab700;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #fab700;
}

#services {
  padding: 70px 0px;
}
#services .center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#services .center .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
#services .center .top h2 {
  font-size: 40px;
}
#services .center .top p {
  margin-bottom: 1rem;
  color: #777777;
}
#services .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  padding-top: 80px;
}
#services .bottom .card {
  width: 100%;
  position: relative;
  background-color: #f9f9ff;
  padding: 30px 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px black;
}
#services .bottom .card i {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: black;
  padding: 10px;
  border-radius: 9999px;
  color: white;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#services .bottom .card i:hover {
  color: read;
}
#services .bottom .card p {
  font-weight: 300;
  color: #777777;
  padding-bottom: 30px;
}
#services .bottom .card a {
  color: black;
}
#services .bottom .card img {
  width: 100%;
}
#services .bottom .card:hover {
  background-color: #fab700;
  transition: all 0.5s ease 0s;
}
#services .bottom .card .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#services .bottom .card .buttons #update,
#services .bottom .card .buttons #delete,
#services .bottom .card .buttons #detail {
  padding: 5px 20px;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  border-radius: 9999px;
  cursor: pointer;
}
#services .bottom .card .buttons #update:hover,
#services .bottom .card .buttons #delete:hover,
#services .bottom .card .buttons #detail:hover {
  background-color: blue;
  transition: all 0.5s ease;
}
#services #loadBtn {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: #fab700;
  font-weight: 800;
  border-radius: 9999px;
  margin-top: 40px;
  cursor: pointer;
}
#services #loadBtn:hover {
  background-color: black;
  color: white;
  border: 1px solid #fab700;
  transition: all 0.5s ease;
}

#unique {
  width: 100%;
  padding: 100px 0px;
  background-color: #f9f9ff;
}
#unique .unique-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
#unique .unique-center .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
#unique .unique-center .top h2 {
  font-size: 40px;
  font-weight: 500;
}
#unique .unique-center .top p {
  color: #777777;
}
#unique .unique-center .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}
#unique .unique-center .bottom .card {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 50px;
  cursor: pointer;
  background-color: white;
}
#unique .unique-center .bottom .card:hover {
  background-color: #fab700;
  transition: all 0.5s ease;
}
#unique .unique-center .bottom .card .head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#unique .unique-center .bottom .card .head i {
  font-size: 30px;
}
#unique .unique-center .bottom .card p {
  color: #777777;
}
#unique .unique-center .bottom .card:hover .head {
  transition: all 0.5s ease;
}

#blog {
  padding: 70px 0px;
  background-color: #f9f9ff;
}
#blog .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
#blog .top h2 {
  font-size: 40px;
}
#blog .top p {
  color: #777777;
  margin-bottom: 100px;
  width: 70%;
}
#blog .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}
#blog .bottom .card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#blog .bottom .card:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
#blog .bottom .card:hover a h4 {
  color: #fab700;
  transition: all 0.5s ease;
}
#blog .bottom .card .img {
  overflow: hidden;
}
#blog .bottom .card img {
  width: 100%;
}
#blog .bottom .card #date {
  background-color: black;
  color: white;
  width: 120px;
  padding: 5px 10px;
}
#blog .bottom .card a {
  font-size: 20px;
  color: black;
}
#blog .bottom .card p {
  color: #777777;
}
#blog .bottom .card .like-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #04091e;
  padding: 100px 0px;
  color: white;
}
footer .footer-center {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 60px;
}
footer .footer-center p {
  color: #777777;
}
footer .footer-center span {
  color: #fab700;
}
footer .footer-center .about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
footer .footer-center .newsletter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
footer .footer-center .newsletter .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-center .newsletter .input input {
  width: 300px;
  padding: 10px 10px;
}
footer .footer-center .newsletter .input button {
  padding: 7px 10px;
  border: 1px solid transparent;
  background-color: #fab700;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
footer .footer-center .follow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
footer .footer-center .follow .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-center .follow .icons i {
  color: white;
}

.details-center {
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-center h1 {
  font-size: 40px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 200px 0px;
}
.form form {
  background-color: aquamarine;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.form form label {
  padding-top: 10px;
  font-weight: 700;
}
.form form #submit {
  padding: 5px 10px;
  background-color: darkblue;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
}
.form form #submit:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

#add {
  padding: 100px 0px;
}

.category-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=submit] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #0056b3;
}

form {
  margin: 200px auto;
}

.modal {
  width: 400px;
  background-color: rgb(236, 236, 236);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: none;
}

.modalForm {
  margin: 0px;
  position: relative;
}

.imgCont {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 60px;
  margin: 20px auto;
  position: relative;
  border: 1px solid #000;
  padding: 20px;
}

.modalImage {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  cursor: pointer;
  background-color: #0056b3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 961px) {
  .container {
    padding: 0px 60px;
  }
  header .bottom .bi-list {
    display: block;
  }
  header .bottom ul {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #unique .unique-center .bottom {
    grid-template-columns: repeat(2, auto);
  }
  #blog .bottom {
    grid-template-columns: repeat(2, auto);
  }
  footer .footer-center {
    grid-template-columns: repeat(2, auto);
  }
  #services .bottom {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 80px;
  }
  #unique .unique-center .bottom {
    grid-template-columns: repeat(1, auto);
  }
  #blog .bottom {
    grid-template-columns: repeat(1, auto);
  }
  footer .footer-center {
    grid-template-columns: repeat(1, auto);
  }
  #services .bottom {
    grid-template-columns: repeat(1, auto);
  }
}/*# sourceMappingURL=style.css.map */