@import "./mixins/mixin";
@import "./variables/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  &::selection {
    background-color: #fab700;
    color: #fff;
}
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 30px;
  margin: 0 auto;
}
// ------------------------------- HEADER -------------------------------
header {
  position: fixed;
  width: 100%;
  @include image;
  transition: all 0.5s ease;
  .top {
    @include display(space-between, center);
    padding: 10px 0px;
    flex-wrap: wrap;
    gap: 10px;
    transition: all 0.5s ease;
    .icons {
      @include display;
      gap: 10px;
      i {
        font-size: 12px;
        color: white;
      }
    }
    .login {
      @include display;
      gap: 20px;
      a {
        font-size: 12px;
        color: white;
        &:hover {
          color: $yelllow;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .bottom {
    @include display(space-between, center);
    padding: 20px 0px;
    flex-wrap: wrap;
    gap: 20px;
    transition: all 0.5s ease;
    ul {
      display: flex;
      gap: 30px;
      a {
        font-size: 12px;
        color: white;
      }
    }
    .bi-list {
      display: none;
      font-size: 30px;
      color: white;
    }
  }
  img {
    padding-right: 180px;
  }
}

// -------------------------------- BANNER --------------------
#banner {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/header-bg.jpg.webp");
  @include image;
  padding: 250px 0px;
  color: white;
  .banner-center {
    width: 100%;
    @include display(left, flex-start);
    flex-direction: column;
    gap: 30px;
    h1 {
      font-size: 50px;
      font-weight: 800;
    }
    p {
      width: 70%;
    }
    button {
      cursor: pointer;
      border: 1px solid transparent;
      background-color: $yelllow;
      color: white;
      padding: 15px 40px;
      font-weight: 700;
      &:hover {
        color: $yelllow;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid $yelllow;
      }
    }
  }
}
// -------------------------------- SERVICES --------------------
#services {
  padding: 70px 0px;
  .top {
    @include display;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    h2 {
      font-size: 40px;
    }
    p {
      margin-bottom: 1rem;
      color: $gray;
    }
  }
  .bottom {
    @include display;
    gap: 20px;
    padding-top: 80px;
    .card {
      width: 33%;
      background-color: $light-white;
      padding: 20px 25px;
      @include display(center, flex-start);
      flex-direction: column;
      gap: 20px;
      p {
        font-weight: 300;
        color: $gray;
        padding-bottom: 30px;
      }
      a {
        color: black;
      }
      img {
        width: 100%;
      }
      &:hover {
        background-color: $yelllow;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

// -------------------------------- UNIQUE --------------------
#unique {
  width: 100%;
  padding: 100px 0px;
  background-color: $light-white;

  .unique-center {
    width: 100%;
    @include display;
    flex-direction: column;
    gap: 50px;

    .top {
      @include display;
      flex-direction: column;
      gap: 20px;
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 500;
      }
      p{
        color: $gray;
      }
    }

    .bottom {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 30px;

      .card {
        width: 100%;
        background-color: aliceblue;
        @include display;
        flex-direction: column;
        gap: 20px;
        padding: 40px 50px;
        cursor: pointer;
        background-color: white;
        &:hover{
            background-color: $yelllow;
            transition: all 0.5s ease;
        }

        .head {
          width: 100%;
          @include display(flex-start, center);
          gap: 10px;

          i {
            font-size: 30px;
          }
        }

        p {
          color: $gray;
        }

        &:hover .head {
          transition: all 0.5s ease;
        }
      }
    }
  }
}

// -------------------------------- Blog --------------------
#blog {
    padding: 70px 0px;
    background-color: $light-white;
    .top {
      @include display;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      h2 {
        font-size: 40px;
      }
      p {
        color: $gray;
        margin-bottom: 100px;
        width: 70%;
      }
    }
    .bottom{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4 , auto);
        gap: 30px;
        .card{
            display: flex;
            flex-direction: column;
            gap: 15px;
            &:hover {
                img{
                    transform: scale(1.1);
                    transition: all 0.5s ease;
                }
                a h4{
                    color: $yelllow;
                    transition: all 0.5s ease;
                }

            }
            .img{
                overflow: hidden;
            }
            img{
                width: 100%;
            }
            #date{
                background-color: black;
                color: white;
                width: 120px;
                padding: 5px 10px;
            }
            a {
                font-size: 20px;
                color: black;
            }
            p{
                color: $gray;
            }
            .like-comment{
                @include display(space-between , center);
            }
        }
    }
}
// -------------------------------- Footer --------------------
footer{
    background-color: $footer-color;
    padding: 100px 0px;
    color: white;
    .footer-center{
        width: 100%;
        // @include display(space-between , flex-start);
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(3 , auto);
        gap: 60px;
        p{
            color: $gray;
        }
        span{
            color: $yelllow;
        }
        .about{
            // width: 100%;
                @include display(flex-start , flex-start);
                flex-direction: column;
                gap: 30px;
        }
        .newsletter{
            // width: 32%;
            @include display(flex-start , flex-start);
            flex-direction: column;
            gap: 30px;
            .input{
                @include display;
                input{
                    width: 300px;
                    padding: 10px 10px;
                }
                button{
                    padding: 7px 10px;
                    border: 1px solid transparent;
                    background-color: $yelllow;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        .follow{
            // width: 20%;
            @include display(flex-start , flex-start);
            flex-direction: column;
            gap: 30px;
            .icons{
                @include display;
                gap: 20px;
                i{
                    color: white;
                }
            }
        }
    }
}



// RESPONSIVE styles
@media screen and (max-width: 961px) {
  .container {
    padding: 0px 60px;
  }
  header .bottom {
    .bi-list {
      display: block;
    }
    ul {
      display: none;
    }
  }
}
@media screen and (max-width: 992px) {
  #services .bottom {
    flex-direction: column;
    .card {
      width: 100%;
    }
  }
  #unique .unique-center .bottom {
    grid-template-columns: repeat(2, auto);
    }
    #blog .bottom{
    grid-template-columns: repeat(2 , auto);
    }
    footer .footer-center{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width:768px) {
    .container{
        padding: 0px 80px;
    }
    #unique .unique-center .bottom {
        grid-template-columns: repeat(1, auto);
    }
    #blog .bottom{
        grid-template-columns: repeat(1 , auto);
    }
    footer .footer-center{
        grid-template-columns: repeat(1, auto);
    }
}
